<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.ui.examples.buildmonitor.category"
            name="Build Monitor Example"/>
      <view
            allowMultiple="false"
            category="org.eclipse.ui.examples.buildmonitor.category"
            class="org.eclipse.ui.examples.buildmonitor.BuildMonitorView"
            id="org.eclipse.ui.examples.buildmonitor.view"
            name="Build Monitor"
            restorable="true"/>
   </extension>
</plugin>
